.navbar-item {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-item__icon {
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.logo{
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 40px 16px 0;
    padding-left: 40px;
    // background: rgba(255, 255, 255, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
  p{
    color:#58a8eb;  
    margin-top: 20px;
  }  
}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.anticon svg {
    font-size: 35px;
    color: #58a8eb; 
}